

.card{
    max-width: 50%;
    padding: 70px;
    margin-top: 30px;
}

input[type='submit']{
    background-color: lightblue;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
input[type='text']{
    border-radius: 4px;
    padding: 5px;
}